ProcessGoProject/ProcessGo1Service/Connected Services/ServiceReference1/RandomNumberGeneratorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebAppProcessGo1.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebAppProcessGo1.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NumberModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="RandomNumber1" type="xs:int" />
      <xs:element minOccurs="0" name="RandomNumber2" type="xs:int" />
      <xs:element minOccurs="0" name="RandomNumber3" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NumberModel" nillable="true" type="tns:NumberModel" />
</xs:schema>